<div class="field">
  <label class="label" for="input-{{ name }}">{{ label }}</label>
  <input id="input-{{ name }}" class="input {{ className }}" type="{{type}}" name="{{ name }}" {{ attributes }} />
</div>